
Python-master/.coveragerc
Python-master/.github/FUNDING.yml
Python-master/.github/pull_request_template.md
Python-master/.github/stale.yml
Python-master/.github/workflows/autoblack.yml
Python-master/.github/workflows/codespell.yml
Python-master/.github/workflows/directory_writer.yml
Python-master/.github/workflows/stale.yml
Python-master/.gitpod.yml
Python-master/.travis.yml
Python-master/arithmetic_analysis/bisection.py
Python-master/arithmetic_analysis/gaussian_elimination.py
Python-master/arithmetic_analysis/image_data/2D_problems.jpg
Python-master/arithmetic_analysis/image_data/2D_problems_1.jpg
Python-master/arithmetic_analysis/in_static_equilibrium.py
Python-master/arithmetic_analysis/intersection.py
Python-master/arithmetic_analysis/lu_decomposition.py
Python-master/arithmetic_analysis/newton_forward_interpolation.py
Python-master/arithmetic_analysis/newton_method.py
Python-master/arithmetic_analysis/newton_raphson.py
Python-master/arithmetic_analysis/secant_method.py
Python-master/backtracking/all_combinations.py
Python-master/backtracking/all_permutations.py
Python-master/backtracking/all_subsequences.py
Python-master/backtracking/coloring.py
Python-master/backtracking/hamiltonian_cycle.py
Python-master/backtracking/minimax.py
Python-master/backtracking/n_queens.py
Python-master/backtracking/sudoku.py
Python-master/backtracking/sum_of_subsets.py
Python-master/bit_manipulation/README.md
Python-master/blockchain/chinese_remainder_theorem.py
Python-master/blockchain/diophantine_equation.py
Python-master/blockchain/modular_division.py
Python-master/boolean_algebra/quine_mc_cluskey.py
Python-master/cellular_automata/one_dimensional.py
Python-master/cellular_automata/README.md
Python-master/ciphers/a1z26.py
Python-master/ciphers/affine_cipher.py
Python-master/ciphers/atbash.py
Python-master/ciphers/base16.py
Python-master/ciphers/base32.py
Python-master/ciphers/base64_cipher.py
Python-master/ciphers/base85.py
Python-master/ciphers/brute_force_caesar_cipher.py
Python-master/ciphers/caesar_cipher.py
Python-master/ciphers/cryptomath_module.py
Python-master/ciphers/deterministic_miller_rabin.py
Python-master/ciphers/diffie.py
Python-master/ciphers/elgamal_key_generator.py
Python-master/ciphers/hill_cipher.py
Python-master/ciphers/mixed_keyword_cypher.py
Python-master/ciphers/morse_code_implementation.py
Python-master/ciphers/onepad_cipher.py
Python-master/ciphers/playfair_cipher.py
Python-master/ciphers/porta_cipher.py
Python-master/ciphers/prehistoric_men.txt
Python-master/ciphers/rabin_miller.py
Python-master/ciphers/rot13.py
Python-master/ciphers/rsa_cipher.py
Python-master/ciphers/rsa_factorization.py
Python-master/ciphers/rsa_key_generator.py
Python-master/ciphers/shuffled_shift_cipher.py
Python-master/ciphers/simple_keyword_cypher.py
Python-master/ciphers/simple_substitution_cipher.py
Python-master/ciphers/trafid_cipher.py
Python-master/ciphers/transposition_cipher.py
Python-master/ciphers/transposition_cipher_encrypt_decrypt_file.py
Python-master/ciphers/vigenere_cipher.py
Python-master/ciphers/xor_cipher.py
Python-master/compression/burrows_wheeler.py
Python-master/compression/huffman.py
Python-master/compression/image_data/compressed_image.png
Python-master/compression/image_data/example_image.jpg
Python-master/compression/image_data/example_wikipedia_image.jpg
Python-master/compression/image_data/original_image.png
Python-master/compression/image_data/PSNR-example-base.png
Python-master/compression/image_data/PSNR-example-comp-10.jpg
Python-master/compression/peak_signal_to_noise_ratio.py
Python-master/CONTRIBUTING.md
Python-master/conversions/decimal_to_binary.py
Python-master/conversions/decimal_to_hexadecimal.py
Python-master/conversions/decimal_to_octal.py
Python-master/conversions/roman_to_integer.py
Python-master/data_structures/binary_tree/avl_tree.py
Python-master/data_structures/binary_tree/basic_binary_tree.py
Python-master/data_structures/binary_tree/binary_search_tree.py
Python-master/data_structures/binary_tree/binary_search_tree_recursive.py
Python-master/data_structures/binary_tree/fenwick_tree.py
Python-master/data_structures/binary_tree/lazy_segment_tree.py
Python-master/data_structures/binary_tree/lowest_common_ancestor.py
Python-master/data_structures/binary_tree/non_recursive_segment_tree.py
Python-master/data_structures/binary_tree/number_of_possible_binary_trees.py
Python-master/data_structures/binary_tree/red_black_tree.py
Python-master/data_structures/binary_tree/segment_tree.py
Python-master/data_structures/binary_tree/segment_tree_other.py
Python-master/data_structures/binary_tree/treap.py
Python-master/data_structures/data_structures/heap/heap_generic.py
Python-master/data_structures/disjoint_set/disjoint_set.py
Python-master/data_structures/hashing/double_hash.py
Python-master/data_structures/hashing/hash_table.py
Python-master/data_structures/hashing/hash_table_with_linked_list.py
Python-master/data_structures/hashing/number_theory/__init__.py
Python-master/data_structures/hashing/number_theory/prime_numbers.py
Python-master/data_structures/hashing/quadratic_probing.py
Python-master/data_structures/heap/binomial_heap.py
Python-master/data_structures/heap/heap.py
Python-master/data_structures/heap/min_heap.py
Python-master/data_structures/linked_list/__init__.py
Python-master/data_structures/linked_list/circular_linked_list.py
Python-master/data_structures/linked_list/deque_doubly.py
Python-master/data_structures/linked_list/doubly_linked_list.py
Python-master/data_structures/linked_list/from_sequence.py
Python-master/data_structures/linked_list/is_palindrome.py
Python-master/data_structures/linked_list/middle_element_of_linked_list.py
Python-master/data_structures/linked_list/print_reverse.py
Python-master/data_structures/linked_list/singly_linked_list.py
Python-master/data_structures/linked_list/skip_list.py
Python-master/data_structures/linked_list/swap_nodes.py
Python-master/data_structures/queue/circular_queue.py
Python-master/data_structures/queue/double_ended_queue.py
Python-master/data_structures/queue/linked_queue.py
Python-master/data_structures/queue/queue_on_list.py
Python-master/data_structures/queue/queue_on_pseudo_stack.py
Python-master/data_structures/stacks/__init__.py
Python-master/data_structures/stacks/balanced_parentheses.py
Python-master/data_structures/stacks/infix_to_postfix_conversion.py
Python-master/data_structures/stacks/infix_to_prefix_conversion.py
Python-master/data_structures/stacks/linked_stack.py
Python-master/data_structures/stacks/next_greater_element.py
Python-master/data_structures/stacks/postfix_evaluation.py
Python-master/data_structures/stacks/prefix_evaluation.py
Python-master/data_structures/stacks/stack.py
Python-master/data_structures/stacks/stack_using_dll.py
Python-master/data_structures/stacks/stock_span_problem.py
Python-master/data_structures/trie/trie.py
Python-master/digital_image_processing/__init__.py
Python-master/digital_image_processing/change_contrast.py
Python-master/digital_image_processing/convert_to_negative.py
Python-master/digital_image_processing/dithering/__init__.py
Python-master/digital_image_processing/dithering/burkes.py
Python-master/digital_image_processing/edge_detection/__init__.py
Python-master/digital_image_processing/edge_detection/canny.py
Python-master/digital_image_processing/filters/__init__.py
Python-master/digital_image_processing/filters/bilateral_filter.py
Python-master/digital_image_processing/filters/convolve.py
Python-master/digital_image_processing/filters/gaussian_filter.py
Python-master/digital_image_processing/filters/median_filter.py
Python-master/digital_image_processing/filters/sobel_filter.py
Python-master/digital_image_processing/histogram_equalization/histogram_stretch.py
Python-master/digital_image_processing/histogram_equalization/image_data/input.jpg
Python-master/digital_image_processing/histogram_equalization/output_data/output.jpg
Python-master/digital_image_processing/image_data/lena.jpg
Python-master/digital_image_processing/image_data/lena_small.jpg
Python-master/digital_image_processing/index_calculation.py
Python-master/digital_image_processing/rotation/__init__.py
Python-master/digital_image_processing/rotation/rotation.py
Python-master/digital_image_processing/sepia.py
Python-master/digital_image_processing/test_digital_image_processing.py
Python-master/DIRECTORY.md
Python-master/divide_and_conquer/closest_pair_of_points.py
Python-master/divide_and_conquer/convex_hull.py
Python-master/divide_and_conquer/inversions.py
Python-master/divide_and_conquer/max_subarray_sum.py
Python-master/divide_and_conquer/mergesort.py
Python-master/divide_and_conquer/power.py
Python-master/divide_and_conquer/strassen_matrix_multiplication.py
Python-master/dynamic_programming/abbreviation.py
Python-master/dynamic_programming/bitmask.py
Python-master/dynamic_programming/climbing_stairs.py
Python-master/dynamic_programming/coin_change.py
Python-master/dynamic_programming/edit_distance.py
Python-master/dynamic_programming/factorial.py
Python-master/dynamic_programming/fast_fibonacci.py
Python-master/dynamic_programming/fibonacci.py
Python-master/dynamic_programming/floyd_warshall.py
Python-master/dynamic_programming/fractional_knapsack.py
Python-master/dynamic_programming/fractional_knapsack_2.py
Python-master/dynamic_programming/integer_partition.py
Python-master/dynamic_programming/iterating_through_submasks.py
Python-master/dynamic_programming/k_means_clustering_tensorflow.py_tf
Python-master/dynamic_programming/knapsack.py
Python-master/dynamic_programming/longest_common_subsequence.py
Python-master/dynamic_programming/longest_increasing_subsequence.py
Python-master/dynamic_programming/longest_increasing_subsequence_o(nlogn).py
Python-master/dynamic_programming/longest_sub_array.py
Python-master/dynamic_programming/matrix_chain_order.py
Python-master/dynamic_programming/max_sub_array.py
Python-master/dynamic_programming/max_sum_contiguous_subsequence.py
Python-master/dynamic_programming/minimum_partition.py
Python-master/dynamic_programming/optimal_binary_search_tree.py
Python-master/dynamic_programming/rod_cutting.py
Python-master/dynamic_programming/subset_generation.py
Python-master/dynamic_programming/sum_of_subset.py
Python-master/file_transfer/mytext.txt
Python-master/file_transfer/receive_file.py
Python-master/file_transfer/send_file.py
Python-master/fuzzy_logic/fuzzy_operations.py
Python-master/geodesy/haversine_distance.py
Python-master/geodesy/lamberts_ellipsoidal_distance.py
Python-master/graphics/bezier_curve.py
Python-master/graphs/a_star.py
Python-master/graphs/articulation_points.py
Python-master/graphs/basic_graphs.py
Python-master/graphs/bellman_ford.py
Python-master/graphs/bfs.py
Python-master/graphs/bfs_shortest_path.py
Python-master/graphs/breadth_first_search.py
Python-master/graphs/breadth_first_search_shortest_path.py
Python-master/graphs/check_bipartite_graph_bfs.py
Python-master/graphs/check_bipartite_graph_dfs.py
Python-master/graphs/depth_first_search.py
Python-master/graphs/depth_first_search_2.py
Python-master/graphs/dijkstra.py
Python-master/graphs/dijkstra_2.py
Python-master/graphs/dijkstra_algorithm.py
Python-master/graphs/dinic.py
Python-master/graphs/directed_and_undirected_(weighted)_graph.py
Python-master/graphs/edmonds_karp_multiple_source_and_sink.py
Python-master/graphs/eulerian_path_and_circuit_for_undirected_graph.py
Python-master/graphs/even_tree.py
Python-master/graphs/finding_bridges.py
Python-master/graphs/g_topological_sort.py
Python-master/graphs/graph_list.py
Python-master/graphs/graph_matrix.py
Python-master/graphs/graphs_floyd_warshall.py
Python-master/graphs/kahns_algorithm_long.py
Python-master/graphs/kahns_algorithm_topo.py
Python-master/graphs/minimum_spanning_tree_kruskal.py
Python-master/graphs/minimum_spanning_tree_prims.py
Python-master/graphs/multi_heuristic_astar.py
Python-master/graphs/page_rank.py
Python-master/graphs/prim.py
Python-master/graphs/scc_kosaraju.py
Python-master/graphs/tarjans_scc.py
Python-master/hashes/chaos_machine.py
Python-master/hashes/enigma_machine.py
Python-master/hashes/hamming_code.py
Python-master/hashes/md5.py
Python-master/hashes/sha1.py
Python-master/images/Travis_CI_fail_1.png
Python-master/images/Travis_CI_fail_2.png
Python-master/LICENSE.md
Python-master/linear_algebra/README.md
Python-master/linear_algebra/src/lib.py
Python-master/linear_algebra/src/polynom-for-points.py
Python-master/linear_algebra/src/rayleigh_quotient.py
Python-master/linear_algebra/src/test_linear_algebra.py
Python-master/machine_learning/decision_tree.py
Python-master/machine_learning/gaussian_naive_bayes.py
Python-master/machine_learning/gradient_descent.py
Python-master/machine_learning/k_means_clust.py
Python-master/machine_learning/k_nearest_neighbours.py
Python-master/machine_learning/knn_sklearn.py
Python-master/machine_learning/linear_discriminant_analysis.py
Python-master/machine_learning/linear_regression.py
Python-master/machine_learning/logistic_regression.py
Python-master/machine_learning/multilayer_perceptron_classifier.py
Python-master/machine_learning/polymonial_regression.py
Python-master/machine_learning/random_forest_classifier.py
Python-master/machine_learning/random_forest_regressor.py
Python-master/machine_learning/scoring_functions.py
Python-master/machine_learning/sequential_minimum_optimization.py
Python-master/machine_learning/support_vector_machines.py
Python-master/maths/3n_plus_1.py
Python-master/maths/__init__.py
Python-master/maths/abs.py
Python-master/maths/abs_max.py
Python-master/maths/abs_min.py
Python-master/maths/add.py
Python-master/maths/allocation_number.py
Python-master/maths/area_under_curve.py
Python-master/maths/armstrong_numbers.py
Python-master/maths/average_mean.py
Python-master/maths/average_median.py
Python-master/maths/average_mode.py
Python-master/maths/basic_maths.py
Python-master/maths/binary_exp_mod.py
Python-master/maths/binary_exponentiation.py
Python-master/maths/binomial_coefficient.py
Python-master/maths/bisection.py
Python-master/maths/ceil.py
Python-master/maths/chudnovsky_algorithm.py
Python-master/maths/collatz_sequence.py
Python-master/maths/combinations.py
Python-master/maths/eulers_totient.py
Python-master/maths/explicit_euler.py
Python-master/maths/extended_euclidean_algorithm.py
Python-master/maths/factorial_iterative.py
Python-master/maths/factorial_python.py
Python-master/maths/factorial_recursive.py
Python-master/maths/factors.py
Python-master/maths/fermat_little_theorem.py
Python-master/maths/fibonacci.py
Python-master/maths/fibonacci_sequence_recursion.py
Python-master/maths/find_max.py
Python-master/maths/find_max_recursion.py
Python-master/maths/find_min.py
Python-master/maths/find_min_recursion.py
Python-master/maths/floor.py
Python-master/maths/gamma.py
Python-master/maths/gaussian.py
Python-master/maths/greatest_common_divisor.py
Python-master/maths/hardy_ramanujanalgo.py
Python-master/maths/images/gaussian.png
Python-master/maths/is_square_free.py
Python-master/maths/jaccard_similarity.py
Python-master/maths/karatsuba.py
Python-master/maths/kth_lexicographic_permutation.py
Python-master/maths/largest_of_very_large_numbers.py
Python-master/maths/least_common_multiple.py
Python-master/maths/line_length.py
Python-master/maths/lucas_lehmer_primality_test.py
Python-master/maths/lucas_series.py
Python-master/maths/matrix_exponentiation.py
Python-master/maths/miller_rabin.py
Python-master/maths/mobius_function.py
Python-master/maths/modular_exponential.py
Python-master/maths/monte_carlo.py
Python-master/maths/monte_carlo_dice.py
Python-master/maths/newton_raphson.py
Python-master/maths/numerical_integration.py
Python-master/maths/perfect_square.py
Python-master/maths/pi_monte_carlo_estimation.py
Python-master/maths/polynomial_evaluation.py
Python-master/maths/prime_check.py
Python-master/maths/prime_factors.py
Python-master/maths/prime_numbers.py
Python-master/maths/prime_sieve_eratosthenes.py
Python-master/maths/pythagoras.py
Python-master/maths/qr_decomposition.py
Python-master/maths/quadratic_equations_complex_numbers.py
Python-master/maths/radians.py
Python-master/maths/radix2_fft.py
Python-master/maths/relu.py
Python-master/maths/runge_kutta.py
Python-master/maths/segmented_sieve.py
Python-master/maths/series/geometric_series.py
Python-master/maths/series/harmonic_series.py
Python-master/maths/series/p_series.py
Python-master/maths/sieve_of_eratosthenes.py
Python-master/maths/simpson_rule.py
Python-master/maths/softmax.py
Python-master/maths/square_root.py
Python-master/maths/sum_of_arithmetic_series.py
Python-master/maths/test_prime_check.py
Python-master/maths/trapezoidal_rule.py
Python-master/maths/volume.py
Python-master/maths/zellers_congruence.py
Python-master/matrix/matrix_class.py
Python-master/matrix/matrix_operation.py
Python-master/matrix/nth_fibonacci_using_matrix_exponentiation.py
Python-master/matrix/rotate_matrix.py
Python-master/matrix/searching_in_sorted_matrix.py
Python-master/matrix/sherman_morrison.py
Python-master/matrix/spiral_print.py
Python-master/matrix/tests/pytest.ini
Python-master/matrix/tests/test_matrix_operation.py
Python-master/networking_flow/ford_fulkerson.py
Python-master/networking_flow/minimum_cut.py
Python-master/neural_network/back_propagation_neural_network.py
Python-master/neural_network/convolution_neural_network.py
Python-master/neural_network/gan.py_tf
Python-master/neural_network/input_data.py_tf
Python-master/neural_network/perceptron.py
Python-master/optimization/requirements.txt
Python-master/other/activity_selection.py
Python-master/other/anagrams.py
Python-master/other/autocomplete_using_trie.py
Python-master/other/binary_exponentiation.py
Python-master/other/binary_exponentiation_2.py
Python-master/other/detecting_english_programmatically.py
Python-master/other/dictionary.txt
Python-master/other/dijkstra_bankers_algorithm.py
Python-master/other/euclidean_gcd.py
Python-master/other/fischer_yates_shuffle.py
Python-master/other/frequency_finder.py
Python-master/other/game_of_life.py
Python-master/other/greedy.py
Python-master/other/integeration_by_simpson_approx.py
Python-master/other/largest_subarray_sum.py
Python-master/other/least_recently_used.py
Python-master/other/linear_congruential_generator.py
Python-master/other/magicdiamondpattern.py
Python-master/other/nested_brackets.py
Python-master/other/palindrome.py
Python-master/other/password_generator.py
Python-master/other/primelib.py
Python-master/other/sdes.py
Python-master/other/sierpinski_triangle.py
Python-master/other/tower_of_hanoi.py
Python-master/other/two_sum.py
Python-master/other/word_patterns.py
Python-master/other/words
Python-master/project_euler/problem_01/__init__.py
Python-master/project_euler/problem_01/sol1.py
Python-master/project_euler/problem_01/sol2.py
Python-master/project_euler/problem_01/sol3.py
Python-master/project_euler/problem_01/sol4.py
Python-master/project_euler/problem_01/sol5.py
Python-master/project_euler/problem_01/sol6.py
Python-master/project_euler/problem_01/sol7.py
Python-master/project_euler/problem_02/__init__.py
Python-master/project_euler/problem_02/sol1.py
Python-master/project_euler/problem_02/sol2.py
Python-master/project_euler/problem_02/sol3.py
Python-master/project_euler/problem_02/sol4.py
Python-master/project_euler/problem_02/sol5.py
Python-master/project_euler/problem_03/__init__.py
Python-master/project_euler/problem_03/sol1.py
Python-master/project_euler/problem_03/sol2.py
Python-master/project_euler/problem_03/sol3.py
Python-master/project_euler/problem_04/__init__.py
Python-master/project_euler/problem_04/sol1.py
Python-master/project_euler/problem_04/sol2.py
Python-master/project_euler/problem_05/__init__.py
Python-master/project_euler/problem_05/sol1.py
Python-master/project_euler/problem_05/sol2.py
Python-master/project_euler/problem_06/__init__.py
Python-master/project_euler/problem_06/sol1.py
Python-master/project_euler/problem_06/sol2.py
Python-master/project_euler/problem_06/sol3.py
Python-master/project_euler/problem_06/sol4.py
Python-master/project_euler/problem_07/__init__.py
Python-master/project_euler/problem_07/sol1.py
Python-master/project_euler/problem_07/sol2.py
Python-master/project_euler/problem_07/sol3.py
Python-master/project_euler/problem_08/__init__.py
Python-master/project_euler/problem_08/sol1.py
Python-master/project_euler/problem_08/sol2.py
Python-master/project_euler/problem_08/sol3.py
Python-master/project_euler/problem_09/__init__.py
Python-master/project_euler/problem_09/sol1.py
Python-master/project_euler/problem_09/sol2.py
Python-master/project_euler/problem_09/sol3.py
Python-master/project_euler/problem_10/__init__.py
Python-master/project_euler/problem_10/sol1.py
Python-master/project_euler/problem_10/sol2.py
Python-master/project_euler/problem_10/sol3.py
Python-master/project_euler/problem_11/__init__.py
Python-master/project_euler/problem_11/grid.txt
Python-master/project_euler/problem_11/sol1.py
Python-master/project_euler/problem_11/sol2.py
Python-master/project_euler/problem_12/__init__.py
Python-master/project_euler/problem_12/sol1.py
Python-master/project_euler/problem_12/sol2.py
Python-master/project_euler/problem_13/__init__.py
Python-master/project_euler/problem_13/num.txt
Python-master/project_euler/problem_13/sol1.py
Python-master/project_euler/problem_14/__init__.py
Python-master/project_euler/problem_14/sol1.py
Python-master/project_euler/problem_14/sol2.py
Python-master/project_euler/problem_15/__init__.py
Python-master/project_euler/problem_15/sol1.py
Python-master/project_euler/problem_16/__init__.py
Python-master/project_euler/problem_16/sol1.py
Python-master/project_euler/problem_16/sol2.py
Python-master/project_euler/problem_17/__init__.py
Python-master/project_euler/problem_17/sol1.py
Python-master/project_euler/problem_18/solution.py
Python-master/project_euler/problem_18/triangle.txt
Python-master/project_euler/problem_19/__init__.py
Python-master/project_euler/problem_19/sol1.py
Python-master/project_euler/problem_20/__init__.py
Python-master/project_euler/problem_20/sol1.py
Python-master/project_euler/problem_20/sol2.py
Python-master/project_euler/problem_20/sol3.py
Python-master/project_euler/problem_20/sol4.py
Python-master/project_euler/problem_21/__init__.py
Python-master/project_euler/problem_21/sol1.py
Python-master/project_euler/problem_22/__init__.py
Python-master/project_euler/problem_22/p022_names.txt
Python-master/project_euler/problem_22/sol1.py
Python-master/project_euler/problem_22/sol2.py
Python-master/project_euler/problem_23/sol1.py
Python-master/project_euler/problem_234/__init__.py
Python-master/project_euler/problem_234/sol1.py
Python-master/project_euler/problem_24/__init__.py
Python-master/project_euler/problem_24/sol1.py
Python-master/project_euler/problem_25/__init__.py
Python-master/project_euler/problem_25/sol1.py
Python-master/project_euler/problem_25/sol2.py
Python-master/project_euler/problem_25/sol3.py
Python-master/project_euler/problem_26/__init__.py
Python-master/project_euler/problem_26/sol1.py
Python-master/project_euler/problem_27/problem_27_sol1.py
Python-master/project_euler/problem_28/__init__.py
Python-master/project_euler/problem_28/sol1.py
Python-master/project_euler/problem_29/__init__.py
Python-master/project_euler/problem_29/solution.py
Python-master/project_euler/problem_30/soln.py
Python-master/project_euler/problem_31/__init__.py
Python-master/project_euler/problem_31/sol1.py
Python-master/project_euler/problem_32/sol32.py
Python-master/project_euler/problem_33/__init__.py
Python-master/project_euler/problem_33/sol1.py
Python-master/project_euler/problem_36/__init__.py
Python-master/project_euler/problem_36/sol1.py
Python-master/project_euler/problem_40/__init__.py
Python-master/project_euler/problem_40/sol1.py
Python-master/project_euler/problem_42/solution42.py
Python-master/project_euler/problem_42/words.txt
Python-master/project_euler/problem_48/__init__.py
Python-master/project_euler/problem_48/sol1.py
Python-master/project_euler/problem_52/__init__.py
Python-master/project_euler/problem_52/sol1.py
Python-master/project_euler/problem_53/__init__.py
Python-master/project_euler/problem_53/sol1.py
Python-master/project_euler/problem_551/__init__.py
Python-master/project_euler/problem_551/sol1.py
Python-master/project_euler/problem_56/__init__.py
Python-master/project_euler/problem_56/sol1.py
Python-master/project_euler/problem_67/__init__.py
Python-master/project_euler/problem_67/sol1.py
Python-master/project_euler/problem_67/triangle.txt
Python-master/project_euler/problem_76/__init__.py
Python-master/project_euler/problem_76/sol1.py
Python-master/project_euler/problem_99/__init__.py
Python-master/project_euler/problem_99/base_exp.txt
Python-master/project_euler/problem_99/sol1.py
Python-master/project_euler/README.md
Python-master/quantum/README.md
Python-master/README.md
Python-master/requirements.txt
Python-master/scheduling/first_come_first_served.py
Python-master/scripts/build_directory_md.py
Python-master/scripts/validate_filenames.py
Python-master/searches/binary_search.py
Python-master/searches/fibonacci_search.py
Python-master/searches/hill_climbing.py
Python-master/searches/interpolation_search.py
Python-master/searches/jump_search.py
Python-master/searches/linear_search.py
Python-master/searches/quick_select.py
Python-master/searches/sentinel_linear_search.py
Python-master/searches/simple-binary-search.py
Python-master/searches/simulated_annealing.py
Python-master/searches/tabu_search.py
Python-master/searches/tabu_test_data.txt
Python-master/searches/ternary_search.py
Python-master/sorts/bitonic_sort.py
Python-master/sorts/bogo_sort.py
Python-master/sorts/bubble_sort.py
Python-master/sorts/bucket_sort.py
Python-master/sorts/cocktail_shaker_sort.py
Python-master/sorts/comb_sort.py
Python-master/sorts/counting_sort.py
Python-master/sorts/cycle_sort.py
Python-master/sorts/double_sort.py
Python-master/sorts/external_sort.py
Python-master/sorts/gnome_sort.py
Python-master/sorts/heap_sort.py
Python-master/sorts/i_sort.py
Python-master/sorts/insertion_sort.py
Python-master/sorts/merge_sort.py
Python-master/sorts/normal_distribution_quick_sort.md
Python-master/sorts/odd_even_transposition_parallel.py
Python-master/sorts/odd_even_transposition_single_threaded.py
Python-master/sorts/pancake_sort.py
Python-master/sorts/pigeon_sort.py
Python-master/sorts/pigeonhole_sort.py
Python-master/sorts/quick_sort.py
Python-master/sorts/quick_sort_3_partition.py
Python-master/sorts/radix_sort.py
Python-master/sorts/random_normal_distribution_quicksort.py
Python-master/sorts/random_pivot_quick_sort.py
Python-master/sorts/recursive-quick-sort.py
Python-master/sorts/recursive_bubble_sort.py
Python-master/sorts/recursive_insertion_sort.py
Python-master/sorts/selection_sort.py
Python-master/sorts/shell_sort.py
Python-master/sorts/stooge_sort.py
Python-master/sorts/tim_sort.py
Python-master/sorts/topological_sort.py
Python-master/sorts/tree_sort.py
Python-master/sorts/unknown_sort.py
Python-master/sorts/wiggle_sort.py
Python-master/strings/aho-corasick.py
Python-master/strings/boyer_moore_search.py
Python-master/strings/check_pangram.py
Python-master/strings/is_palindrome.py
Python-master/strings/knuth_morris_pratt.py
Python-master/strings/levenshtein_distance.py
Python-master/strings/lower.py
Python-master/strings/manacher.py
Python-master/strings/min_cost_string_conversion.py
Python-master/strings/naive_string_search.py
Python-master/strings/rabin_karp.py
Python-master/strings/remove_duplicate.py
Python-master/strings/reverse_words.py
Python-master/strings/split.py
Python-master/strings/upper.py
Python-master/strings/word_occurrence.py
Python-master/traversals/binary_tree_traversals.py
Python-master/Travis_CI_tests_are_failing.md
Python-master/web_programming/crawl_google_results.py
Python-master/web_programming/current_stock_price.py
Python-master/web_programming/emails_from_url.py
Python-master/web_programming/fetch_bbc_news.py
Python-master/web_programming/fetch_github_info.py
Python-master/web_programming/get_imdb_top_250_movies_csv.py
Python-master/web_programming/get_imdbtop.py
Python-master/web_programming/slack_message.py
